@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&display=swap');

html,
body,
#app {
  @apply font-archivo h-full;
}

html,
body {
  font-size: 16px;
}

.viewbox {
  @apply mt-20 py-10;
  height: calc(100% - 6rem);
}

svg {
  @apply transition ease-in-out;
}
