form {
  @apply block w-full;
  label {
    @apply mb-4 block;

    p {
      @apply opacity-50 font-medium dark:text-gray-300 my-2;
    }

    &:hover {
      & p {
        @apply opacity-100;
      }
    }
  }
}

input[type='checkbox'] {
  @apply w-4 h-4 ring-2 ring-black dark:ring-gray-800 dark:text-white dark:bg-black dark:ring-gray-800 relative inline-block flex items-center justify-center overflow-hidden;
  &:before {
    content: ' ';
    @apply w-full h-full absolute left-0 right-0 bg-white dark:bg-black flex items-center justify-center text-xs;
  }
  &:checked {
    &:before {
      content: '✔';
    }
  }
}

button {
  @apply font-medium text-button uppercase;
}

input,
textarea {
  &:not([type='checkbox']) {
    @apply border-2 border-gray-100 dark:border-gray-900 w-full;
  }
}

input,
button,
textarea {
  @apply p-4 py-3 transition ease-in-out tracking-wide bg-white dark:text-white dark:bg-black dark:border-gray-800 dark:hover:border-gray-700 outline-none;

  &:disabled {
    @apply cursor-not-allowed opacity-50 bg-gray-100 text-gray-300 dark:bg-gray-800 dark:text-gray-700;
  }

  &.primary {
    &:not([disabled]) {
      @apply border-2 border-black text-white bg-black hover:bg-white hover:text-black 
            dark:border-gray-800 dark:hover:border-white dark:hover:bg-white
            dark:hover:border-gray-900 dark:hover:text-black;
    }
  }

  &.secondary {
    &:not([disabled]) {
      @apply ring-2 ring-black text-black bg-white dark:bg-white dark:text-black dark:ring-gray-700 hover:bg-black hover:text-white dark:hover:ring-white dark:hover:bg-white dark:hover:text-black;
    }
  }
}

input:focus,
textarea:focus,
select:focus {
  &:not([disabled]) {
    @apply ring-2 ring-black dark:ring-gray-800;
  }
}
a {
  @apply hover:opacity-50 transition ease-in-out;
}
