.minicart {
  @apply relative bg-white dark:bg-black ring-2 ring-gray-200 dark:ring-gray-900 p-4 opacity-0 invisible transition ease-in-out overflow-y-auto;
  width: 27rem;

  max-height: 0;
  transform: scaleY(0);
  &.opened {
    @apply opacity-100 visible;
    max-height: 30rem;
    transform: scaleY(1);
  }

  .product-image {
    @apply h-24;
  }
}
