.modal {
  @apply fixed w-full h-full top-0 left-0 bg-backdrop flex items-center justify-center z-10 dark:bg-gray-900;

  &-content {
    @apply relative bg-white dark:bg-black ring-2 ring-black dark:ring-gray-700 z-20 select-none w-full h-auto overflow-y-auto;
    max-width: 90vw;
    max-height: 90vh;

    @media (min-width: theme('screens.md')) {
      max-width: 50vw;
      max-height: 80vh;
    }
  }
}
