.product {
  &-highlight {
    &-bg {
      height: 33rem;
    }
  }

  &-tile {
    .image-wrapper {
      @apply bg-black relative dark:bg-gray-900 dark:text-gray-400 text-white flex items-center justify-center h-full;
      height: 31rem;

      @media (min-width: theme('screens.sm')) {
        height: 20rem;
      }

      @media (min-width: theme('screens.md')) {
        height: 24.75rem;
      }
    }
  }
}
